<!DOCTYPE html>
<html>

<head>
    <%- include('../template/head')-%>
</head>

<body>
    <%- include('../template/dropdown')-%>
    <h1>404 - Page not found</h1>
    
    <%- include('../template/footer')-%>
</body>

</html>