<!DOCTYPE html>
<html>

<head>
  <%- include('../template/head')-%>
</head>

<body>
  <%- include('../template/dropdown')-%>
  <h1>Generas Detailed</h1>

  <div class="fixed">
    <img src="images/ezgif.com-gif-to-mp4.gif" alt="The gif could not load." width="800" height=auto id="gif2">
  </div>

  <div>
    <h2>All Generas</h2>
  </div>
  <ul id="lista">
    <li><button onmouseover="birdOver1()" onmouseout="birdOffWithParameters(1)">Lycocorax</button></li><img src=""
      id="I1" />
    <p id="G1"></p>
    <li><button onmouseover="birdOver2()" onmouseout="birdOffWithParameters(2)">Manucodia</button></li><img src=""
      id="I2" />
    <p id="G2"></p>
    <li><button onmouseover="birdOver3()" onmouseout="birdOffWithParameters(3)">Phonygammus</button></li><img src=""
      id="I3" />
    <p id="G3"></p>
    <li><button onmouseover="birdOver4()" onmouseout="birdOffWithParameters(4)">Paradigalla</button></li><img src=""
      id="I4" />
    <p id="G4"></p>
    <li><button onmouseover="birdOver5()" onmouseout="birdOffWithParameters(5)">Astrapia</button></li><img src=""
      id="I5" />
    <p id="G5"></p>
    <li><button onmouseover="birdOver6()" onmouseout="birdOffWithParameters(6)">Parotia</button></li><img src=""
      id="I6" />
    <p id="G6"></p>
    <li><button onmouseover="birdOver7()" onmouseout="birdOffWithParameters(7)">Pteridophora</button></li><img src=""
      id="I7" />
    <p id="G7"></p>
    <li><button onmouseover="birdOver8()" onmouseout="birdOffWithParameters(8)">Lophorina</button></li><img src=""
      id="I8" />
    <p id="G8"></p>
    <li><button onmouseover="birdOver9()" onmouseout="birdOffWithParameters(9)">Epimachus</button></li><img src=""
      id="I9" />
    <p id="G9"></p>
    <li><button onmouseover="birdOver10()" onmouseout="birdOffWithParameters(10)">Drepanornis</button></li><img src=""
      id="I10" />
    <p id="G10"></p>
    <li><button onmouseover="birdOver11()" onmouseout="birdOffWithParameters(11)">Cicinnurus</button></li><img src=""
      id="I11" />
    <p id="G11"></p>
    <li><button onmouseover="birdOver12()" onmouseout="birdOffWithParameters(12)">Semioptera</button></li><img src=""
      id="I12" />
    <p id="G12"></p>
    <li><button onmouseover="birdOver13()" onmouseout="birdOffWithParameters(13)">Seleucidis</button></li><img src=""
      id="I13" />
    <p id="G13"></p>
    <li><button onmouseover="birdOver14()" onmouseout="birdOffWithParameters(14)">Paradisaea</button></li><img src=""
      id="I14" />
    <p id="G14"></p>
    <li><button onmouseover="birdOver15()" onmouseout="birdOffWithParameters(15)">Paradisornis</button></li><img src=""
      id="I15" />
    <p id="G15"></p>
  </ul>
  <div style="width: 100%; height: 300px;"></div>

  <%- include('../template/footer')-%>
  <script src="js/myscript.js"></script>
</body>

</html>