<!DOCTYPE html>
<html>

<head>
    <link href="styles/app.css" rel="stylesheet">
    <script src="js/myscript.js"></script>
    <%- include('../template/head')-%>
</head>


<body>
    <%- include('../template/dropdown')-%>

    <div class="parent">
        <img class="image1" src="images/bird06.jpg" alt="This image could not load."
            style="max-width:100%;height:auto;" />
        <img class="image2" src="images/BirdsOfParadiseTitle.png" alt="This image could not load."
            style="max-width:100%;height:auto;" />
    </div>

    <h1>Introduction</h1>
    <h3>
        <p class="c2">The birds-of-paradise are members of the family Paradisaeidae of the
            order Passeriformes. The majority of species are found in New Guinea and eastern Australia.
            The family has 42 species in 15 genera. The members of this family are perhaps best
            known for the plumage of the males of the sexually dimorphic species (the majority), in
            particular the highly elongated and elaborate feathers extending from the beak, wings,
            tail or head. For the most part they are confined to dense rainforest habitat.
            The diet of all species is dominated by fruit and to a lesser extent arthropods.</p>
    </h3>
    <br>
    <h2>Species and Generas</h2>
    <ul>
        <h3>
            <li>Lycocorax: Halmahera paradise-crow, Obi paradise-crow</li>
            <li>Manucodia: Glossy-mantled manucode, Jobi manucode, Crinkle-collared manucode, Curl-crested manucode</li>
            <li>Phonygammus: Trumpet manucode</li>
            <li>Paradigalla: Long-tailed paradigalla, Short-tailed paradigalla</li>
            <li>Astrapia: Arfak astrapia, Splendid astrapia, Ribbon-tailed astrapia, Stephanie's astrapia, Huon astrapia
            </li>
            <li>Parotia: Western parotia, Carola's parotia, Bronze parotia, Lawes's parotia, Eastern parotia, Wahnes's
                parotia</li>
            <li>Pteridophora: King of Saxony bird-of-paradise</li>
            <li>Lophorina: Superb bird-of-paradise, Vogelkop superb bird-of-paradise, Lesser superb bird-of-paradise
                Magnificent riflebird, Growling riflebird, Paradise riflebird, Victoria's riflebird</li>
            <li>Epimachus: Black sicklebill, Brown sicklebill</li>
            <li>Drepanornis: Black-billed sicklebill, Pale-billed sicklebill</li>
            <li>Cicinnurus: Magnificent bird-of-paradise, Wilson's bird-of-paradise, King bird-of-paradise</li>
            <li>Semioptera: Standardwing bird-of-paradise</li>
            <li>Seleucidis: Twelve-wired bird-of-paradise</li>
            <li>Paradisaea: Lesser bird-of-paradis, Greater bird-of-paradise, Raggiana bird-of-paradise, Goldie's
                bird-of-paradise, Red bird-of-paradise, Emperor bird-of-paradise</li>
            <li>Paradisornis: Blue bird-of-paradise</li>
        </h3>
    </ul>
    <br>
    <h2>Photo Gallery</h2>
    <img src="images/bird04.jpg" alt="This image could not load." height=300 width=580 />
    <img src="images/bird03.jpg" alt="This image could not load." height=300 width=150 />
    <img src="images/bird02.jpg" alt="This image could not load." height=300 width=580 />
    <img src="images/bird12.jpg" alt="This image could not load." height=300 width=580 />
    <img src="images/bird10.jpg" alt="This image could not load." height=300 width=580 />
    <img src="images/bird11.jpg" alt="This image could not load." height=300 width=580 />

    <script src="js/myscriptHomePage.js"></script>

    <%- include('../template/footer')-%>
</body>
</html>