<!DOCTYPE html>
<html>

<head>
  <%- include('../template/head')-%>
</head>

<body>
  <%- include('../template/dropdown')-%>
  <h1><span id="Title01"></span><span id="Title02" class="rtl"></span></h1>
  <h2>Vogelkop superb bird of paradise</h2>
  <div class="flex-container">
    <div><img src="images/bird01.jpg" alt="This image could not load." height=250 width=375 /></div>
    <div><img src="images/bird13.jpg" alt="This image could not load." height=250 width=375 /></div>
  </div>
  <h3>
    <p>A combination of fieldwork and museum analysis led to the conclusion that the
      Vogelkop is genetically distinct from the superb bird of paradise species, which is
      now named the greater superb. The new species' German name, which translates to “bird's head,” was inspired by
      an isolated region of Indonesian New Guinea that's said to resemble a bird head on
      a map and was once a German colony.</p>
    <p>Like its cousin, the Vogelkop has some of the blackest coloring on Earth.
      The microscopic structure of their feathers absorbs almost 100 percent of the
      light hitting it. Both birds have bright blue markings that form what look
      like cartoonish faces when they try to seduce females. For instance, during
      its dance, the greater superb deeply bends its knees and bounces. The Vogelkop,
      however, shuffles its feet in quick little motions, effectively gliding from
      side to side. The birds also sing slightly different songs: While the superb
      makes a loud squawking noise, the Vogelkop has a more pleasant, tonal call.</p>
    <p>Next we present you a video, brought to you by National Geographic WILD, of the Vogelkop's dancing and singing:
    </p>
  </h3>

  <video width="640" height="480" controls>
    <source src="videos/Rare Footage of New Bird of Paradise Species Shows Odd Courtship Dance - Nat Geo Wild.mp4"
      type="video/mp4">
    <source src="videos/Rare Footage of New Bird of Paradise Species Shows Odd Courtship Dance - Nat Geo Wild.ogg"
      type="video/ogg">
  </video>
  <hr class="divider">
  <h2>The Lesser Bird of Paradise</h2>
  <div class="flex-container">
    <div><img src="images/bird07.jpg" alt="This image could not load." height=250 width=375 /></div>
    <div><img src="images/bird14.jpg" alt="This image could not load." height=250 width=375 /></div>
  </div>
  <h3>
    <p>The lesser bird-of-paradise is medium-sized, up to 32 cm-long,
      maroon-brown with a yellow crown and brownish-yellow upper back. Its
      diet consists mainly of fruits and insects. The male
      has a dark emerald-green throat, a pair of long tail-wires and is adorned
      with ornamental flank plumes which are deep yellow at their base and fade
      outwards into white. The female is a maroon bird with a dark-brown head
      and whitish underparts. Further study is required,[2] but it seems likely
      that birds-of-paradise also possess toxins in their skins, derived from
      their insect prey. It resembles the larger greater bird-of-paradise, but the male of that species
      has a dark chest, whereas the female is entirely brown (no whitish underparts).</p>
    <p>The males perform courtship displays in leks. The female usually
      lays two pinkish eggs with dark markings in a nest in a tree high above ground.</p>
    <p>Next we present you a video, brought to you by the Cornell Lab of Ornithology, of the Lesser Bird of Paradise's
      dancing and singing:</p>
  </h3>
  <video width="640" height="480" controls>
    <source src="videos/Lesser Bird-of-Paradise.mp4" type="video/mp4">
    <source src="videos/Lesser Bird-of-Paradise.ogg" type="video/ogg">
  </video>

  <hr class="divider">
  <h2>The Magnificent Riflebird</h2>
  <div class="flex-container">
    <div><img src="images/bird08.jpg" alt="This image could not load." height=250 width=375 /></div>
    <div><img src="images/bird15.jpg" alt="This image could not load." height=250 width=375 /></div>
  </div>

  <h3>
    <p>Magnificent Riflebirds are widely distributed throughout
      lowland rainforests of western New Guinea and the northern Cape York Peninsula.
      This riflebird is a medium-sized bird, being up to 34 cm long. The male is
      velvet-black bird-of-paradise with elongated black filamental flank plumes,
      an iridescent blue-green crown, a wide, triangle-shaped breast shield, and on
      central tail feathers. It has a black curved bill, yellow mouth, blackish feet
      and a dark brown iris. The female is brownish with dark spots and buff bars
      below with a white brow. The immature male resembles the male but with less
      tail plumes.</p>
    <p>The diet of the magnificent riflebird consists mainly of fruits and a
      variety of invertebrates such as spiders, millipedes, etc. Males
      perform solitary courtship displays on a 'dancing perch'.
      During these displays, the male fully extends his wings and raises his tail;
      he jerks upward while swinging his head from side to side, showing off his
      metallic blue-green breast shield, and producing a distinctive "woosh" sound
      as he flaps his wings.</p>
    <p>Next we present you a video, brought to you by the Cornell Lab of Ornithology, of the Magnificent Riflebird's
      dancing and singing:</p>
  </h3>
  <video width="640" height="480" controls>
    <source src="videos/Magnificent Riflebird.mp4" type="video/mp4">
    <source src="videos/Magnificent Riflebird.ogg" type="video/ogg">
  </video>

  <hr class="divider">
  <h2>Western Parotia</h2>
  <div class="flex-container">
    <div><img src="images/bird09.jpg" alt="This image could not load." height=250 width=375 /></div>
    <div><img src="images/bird16.jpg" alt="This image could not load." height=250 width=375 /></div>
  </div>

  <h3>
    <p>The male has black plumage with an iridescent structurally coloured golden-green
      breast shield and triangular silver feathers on its crown. It is adorned with elongated
      black plumes at the sides of the breast and three erectile spatulate head wires behind
      each eye. As with most member in the family, the female is unadorned and has brown plumage.
      The species is similar to Lawes's parotia.</p>
    <p>In courtship display, the male performs a ballerina-like dance with its elongated black
      plumes spread around skirt-like, right below the iridescent breast shield. During the
      spectacular dance, he shakes his head and neck rapidly to show the brilliance of his inverted
      silver triangle-shaped head adornment to attending females.
      The nest is built and attended by the female alone.
      The diet consists mainly of fruits such as figs, and arthropods.[</p>
    <p>Next we present you a video, brought to you by Netflix, of the Western Parotia's dancing:</p>
  </h3>
  <video width="640" height="480" controls>
    <source src="videos/The Dancing Bird of Paradise Scene from Our Planet - Netflix.mp4" type="video/mp4">
    <source src="videos/The Dancing Bird of Paradise Scene from Our Planet - Netflix.ogg" type="video/ogg">
  </video>

  <%- include('../template/footer')-%>
  <script src="js/myscriptOdds.js"></script>
</body>
</html>