<!DOCTYPE html>
<html>

<head>
    <%- include('../template/head')-%>
</head>

<body>
    <%- include('../template/dropdown')-%>
    <h1>QUIZ</h1>
    <h2><span id="Cuv01"></span></h2>
    <br>

    <div id="frame001">
        <div id="center001">
            <p>Time left:
            <p id="bruh69"></p>
            <p id="quizTime001"></p>
            <h2><strong>
                    <p id="message001"></p>
                </strong></h2>
            <hr />
            <p id="instruction001">Check the box corresponding to the right answer. (Only one correct answer)</p>
            <p id="options001"></p>
            <p id="comment001"></p>
            <p id="click001"></p>
        </div>
    </div>

    <a class="link-button" href="/quiz">Leave page</a>

    <%- include('../template/footer')-%>
    <script src="js/myscriptTest.js"></script>
</body>

</html>